@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    font-family: 'Croissant One', cursive;  
    color: rgb(0, 0, 0);
    font-size: 25px;
}

 header nav ul {
    width: 300px;
    margin: 0 auto;
    list-style: none;
}

#places {
    display: flex;
    flex-wrap: wrap;
}

#places article {
    width: 33%;
}

.handwriting {
    font-family: 'Dancing Script', cursive;
    cursor: cell;
    text-align:center;
    margin-top:30px;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.gallery {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 25px;
}

.gallery img {
    width: 100%;
    transform: scale(1.5); 
    transition: 0.5s all ease-in-out;
}

.gallery:hover img {
    transform: scale(1.0); 
}


h1{
    font-size: 50px;
}



@media (max-width: 1280px) {
    #places article {
        width: 50%;
    }
}


@media (max-width: 768px) {
    #places article {
        width: 100%;
    }
}