@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
    font-family: 'Croissant One', cursive;  
    color: rgb(0, 0, 0);
}

.handwriting {
    font-family: 'Dancing Script', cursive;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}